.card {
    display: flex;
    justify-content: space-between;
    padding: 18px;
    border: 1px solid #ddd;
    border-radius: 12px;
    margin-bottom: 15px;
    background: white;
    gap: 14px;
}

.left {
    display: flex;
    align-items: center;
    gap: 18px;
}

.todoInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;

    h3, p, span {
        margin: 0; 
        padding: 0; 
    }
}

.date {
    font-size: 13px;
    color: #888;
}

.check {
    padding-top: 15px;
    padding-bottom: 5px;
}

.icons {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 10px;
    align-items: center;

    button {
        background: none;
        border: 1px solid #ddd;
        border-radius: 6px;
        cursor: pointer;
        font-size: 14px;

        &.delete {
            color: rgb(111, 30, 30);
        }
    }
}