.card {
    display: flex;
    justify-content: space-between;
    padding: 18px;
    border: 1px solid #ddd;
    border-radius: 12px;
    margin-bottom: 15px;
    background: white;
}

.left {
    display: flex;
    gap: 12px;
}

.date {
    font-size: 13px;
    color: #888;
}

.icons {
    display: flex;
    gap: 10px;

    button {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 18px;

        &.delete {
            color: rgb(111, 30, 30);
        }
    }
}